<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Socket ShowCase</title>
</head>
<body>
    <h1>Hello world</h1>
    <input id="nameVal" type="text" />
    <input id="clickMeBtn" type="button" value="Click Me" />
    <div id="info"></div>

<script type="text/javascript">
    function appendInfo(msg) {
        document.getElementById("info").innerHTML = document.getElementById("info").innerHTML + "<br />" + msg;
    }
    // Create WebSocket connection.
    const webSocket = new WebSocket('ws://localhost:2010/websocket/chat');
    // Connection opened
    webSocket.addEventListener('open', function (event) {
        appendInfo('Connect success!');
    });
    // Listen for messages
    webSocket.addEventListener('message', function (event) {
        appendInfo('Message from server ' + event.data);
    });
    document.getElementById("clickMeBtn").addEventListener('click', function() {
        const msg = document.getElementById("nameVal").value;
        webSocket.send(msg);
    });
</script>
</body>
</html>